<div class="grid-container">
    <div class="grid-item-card" id="post-{{id}}">
        <img class="cardImage" src={{thumbnail}} alt="Missing Image">
        <div class="cardBody">
            <p class="card-title"> {{title}}</p>
            <p class="card - text">{{description}}</p>
            <a href="/post/{{id}}" class="anchorButton">Post Details</a>
        </div>
    </div>
</div>